body {
  margin: 0;
  padding: 0;
  
}
.background-container {
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  
}
.main-feed {
  padding: 0;
  margin: 0;
}
